
@{
    ViewBag.Title = "ChangePasswordConfirmation";
}
<style>
    html, body {
        height: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background: #ccc;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-image: url('../../img/BackGround.png');
    }

    h3 {
        color: midnightblue !important;
    }
</style>
<div class="container-fluid">
    <br /> <br />
    <div class="row">
        <br /> <br />
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <br /> <br />
            <h3 class="title text-left">Change Password Confirmation</h3>
            
            <div>
                <br /><br />
                <h4>
                    Your Password has been Successfully changed.
                    Please login with your new password.
                </h4>
            </div>
        </div>
    </div>
</div>